*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*---------------Home--------------*/
.home{
   width:100%;
   height:100vh;
   background-image: radial-gradient(circle,rgb(29, 29, 199),black);
   padding:10px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap:15px;
}

.home h1{
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black ;
    flex-wrap: wrap;
}

#getstarted{
   text-decoration: none;
   border-style: none;
   padding:8px;
   font-size:17px;
   box-sizing: border-box;
   border-radius: 5px;
   color:black;
   cursor:pointer;
   background-color: rgb(20, 20, 225);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#getstarted:hover{
   background-color: rgb(4, 4, 255);
}

/*----------------Login------------------*/
.login{
  height:100vh;
  width:100%;
  background-image: radial-gradient(circle,rgb(29, 29, 199),black);
  padding:10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loginForm{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border:2px solid black;
   padding:25px;
   border-radius: 10px;
   gap:15px;
}

.loginForm form{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   gap:10px;
}

.loginForm form input{
   width:90%;
   padding:10px;
   font-size: 18px;
   background-color: transparent;
   border: 2px solid rgb(2, 2, 102);
   color:white;
   border-radius: 5px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.loginForm form button{
   border-style: none;
   width:100%;
   padding:5px;
   box-sizing: border-box;
   background-color: #183ad3;
   cursor: pointer;
   font-size: 20px;
   border-radius: 15px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#createAccount{
   text-decoration: none;
   color:rgb(121, 7, 121);
}
/*-----------------Signup--------------------*/
.signup{
  height:100vh;
  width:100%;
  background-image: radial-gradient(circle,rgb(29, 29, 199),black);
  padding:10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signupForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:2px solid black;
  padding:25px;
  border-radius: 10px;
  gap:15px;
}

.signupForm form{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  gap:10px;
}

.signupForm form input{
  width:90%;
  padding:10px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid rgb(2, 2, 102);
  color:white;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#signupBtn{
  width:100%;
  border-style: none;
  text-decoration: none;
  text-align: center;
  color:black;
  padding:5px;
  box-sizing: border-box;
  background-color: #183ad3;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*---------------Frame work Selection----------------*/
.frameworkSelection{
   width: 100%;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center; 
   background-image: radial-gradient(circle,rgb(29, 29, 199),black);
   padding:10px;
   box-sizing: border-box;
}
.frameworkSelection select{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  width:100%;
  border: 2px solid #2950fc;
}

.dashboard{
  border:2px solid black;
  border-radius: 10px;
  padding:10px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}

.folderDisplay{
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:20px;
  padding:10px;
  box-sizing: border-box;
}

.userFolders{
  border:2px solid black;
  padding:10px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  color: black;
}


#openFolder{
 border-style: none;
 width:100%;
 border-radius: 5px;
 background-color: #183ad3;
 padding:5px;
 font-size: 18px;
 cursor: pointer;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#openFolder:hover{
  background-color: #2950fc;
}

.foldercreation{
  border:2px solid black;
  border-radius: 5px;
  padding:10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foldercreation input{
  padding:5px;
  box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  border:2px solid #2950fc;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#createFolder{
  border-style: none;
  width:100%;
  border-radius: 5px;
  background-color: #183ad3;
  padding:5px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#createFolder:hover{
  background-color: #2950fc;
}

/*---------------Frame work Editor---------------------*/
.frameworkEditor {
  /* width:100%; */
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.menu{
  width: 20%;
  height:100vh; 
  background-color:  #04305f;
  padding:10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap:10px;
}

.headername{
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  box-sizing: border-box;
}

.headername hr{
   width:100%;
}

.fileList{
  width:100%;
}

.fileSelection{
  width:100%;
  text-align: left;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius:  5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/*---------------Delete File Button-----------------*/
#deleteFileBtn{
   border:none;
   background-color: rgb(224, 106, 106);
   border-radius: 3px;
   padding:5px;
   box-sizing: border-box;
   cursor:pointer;
   letter-spacing: 1px;
}
#deleteFileBtn:hover{
   background-color: rgb(198, 35, 35);
}

/*----------------EditorTerminal---------------------*/
.editorTerminal{
  width:80%;
  display: flex;
  flex-direction: column;
  height:100vh;
  position: relative;
}

.editor{
  flex: 3;
  position: relative;
}

.terminal{
  flex: 1;
}


/*---------------Add File Button-------------*/
.addFile{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   gap:10px;
}

.addFile input{
   padding:5px;
   border-style: none;
   border-radius: 5px;
   font-size: 17px;
   background-color: gray;
}

#addFileBtn{
   border-style: none;
   padding:5px;
   font-family: monospace;
   font-size: 17px;
   cursor: pointer;
   border-radius: 5px;
   background-color: #587cca;
}

#addFileBtn:hover{
   background-color: #264fa7;
}

/*----------------Extensions List--------------*/
.extensions{
  color: black;
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap:10px;
  flex-direction: column;
  border:1.5px solid gray;
  border-radius: 10px;
  padding:5px;
  box-sizing: border-box;
  margin-top: 20px;
  font-family: monospace;
}

.extensionsList{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding:5px;
  box-sizing: border-box;
}

.extension{
   color:white;
   font-size: 15px;
   background-color: rgb(66, 64, 64);
   border-radius: 4px;
   padding:5px;
   box-sizing: border-box;
}
/*-----------------Save file---------------*/
.saved{
  color:black;
  position:absolute;
  top:0;
  right: 0;
  margin:10px;
  padding:10px;
  box-sizing: border-box;
  background: radial-gradient(circle,rgb(106, 227, 106),rgb(8, 119, 8));
  z-index: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.saved span{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.unsaved{
  display: none;
}
#saveBtn{
   border-style: none;
   background-color: #264fa7;
   padding:10px;
   box-sizing: border-box;
   font-family: monospace;
   font-size: 18px;
   cursor:pointer;
   position: absolute;
   bottom:0;
   right:0;
   margin:25px;
   border-radius: 5px;
}
#saveBtn:hover{
  background-color: #587cca;
}
#runBtn{
  border-style: none;
  background-color: #264fa7;
  padding:10px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 18px;
  cursor:pointer;
  position: absolute;
  bottom:0;
  right:70px;
  margin:25px;
  border-radius: 5px;
}
#runBtn:hover{
 background-color: #587cca;
}

#stopBtn{
  border-style: none;
  background-color: #264fa7;
  padding:10px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 18px;
  cursor:pointer;
  position: absolute;
  bottom:0;
  right:100px;
  margin:25px;
  border-radius: 5px;
}
#stopBtn:hover{
 background-color: #587cca;
}